{% extends "base.html" %}
{% load staticfiles %}

{% block headers %}
    <title>Judge Panel</title>
    <script src="{% static 'js/min/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Judge Panel</h1>
    <div id="controls">
        <div>
            <p>Choose an event: </p>
            <select class="ui dropdown" id="event-select" onchange="change_event(this)"></select>
        </div>
        <div class="add-person">
            <p style="height: 1.5em; line-height: 1.5em">
                Add Judge(s)
                <i class="add square green link big icon" onclick="show_add_modal()"></i>
            </p>
        </div>
    </div>

    <div class="person-table-container">
        <table class="ui celled fixed table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody id="judge-table">
                <tr>
                    <td>Select an event to view judges</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="delete-modal" class="ui modal">
        <div class="header">Delete Judge</div>
        <div class="content">Are you sure you want to delete this judge?</div>
        <div class="actions">
            <div class="ui positive button">Yes</div>
            <div class="ui negative button">No</div>
        </div>
    </div>

    <div id="add-modal" class="ui modal">
        <div class="header">Add Student(s)</div>
        <div class="content">
            <form id="add-judge-form" class="ui form" action="{% url 'judge_create' %}">
                <label>Name</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="first_name" placeholder="First Name" required>
                    </div>
                    <div class="field">
                        <input type="text" name="last_name" placeholder="Last Name" required>
                    </div>
                </div>
                <input type="hidden" name="event">
            </form>
        </div>
        <div class="ui divider"></div>
        <div class="content">
            <p>Or you can submit a .csv file</p>
            <div>
                <form id="add-judges-file">
                    <input type="file" id="judge-csv" name="judge_csv">
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive button">Create</div>
            <div class="ui negative button">Nevermind</div>
        </div>
    </div>

    <div id="icons">
        <i class="large green checkmark box link icon"></i>
        <i class="large red remove circle link icon"></i>
        <i class="large minus square link icon"></i>
    </div>

    <script src="{% static 'js/judge_view.js' %}"></script>
    <script>
    data = {{ data | safe }};
    state = {
        selected_event: null,
        show_judges: [], // list of indices pointing towards data.judges
        selected_judge: null, // index of selected judge in show_judges
    };
    elements = {
        first_name_input: null,
        last_name_input: null,
        password_input: null,
        add_judge: document.getElementsByClassName('add-person')[0]
    };
    var icons_div = document.getElementById('icons');
    var event_selector = document.getElementById('event-select');
    var judge_table = document.getElementById('judge-table');
    var delete_judge_modal = $('#delete-modal');
    var add_judge_modal = $('#add-modal');
    var edit_judge_inputs = null;

    window.onload = init_page();
    </script>
{% endblock %}