{% extends "base.html" %}
{% load staticfiles %}

{% block headers %}<title>Student Panel</title>{% endblock %}

{% block content %}
    <h1>Student Panel</h1>
    <div>
        <p>Choose an event: </p>
        <select class="ui dropdown" id="event-select" onchange="change_event(this)"></select>
    </div>

    <div class="person-table-container">
        <table class="ui celled fixed table">
            <thead>
                <tr>
                    <th colspan="1">First Name</th>
                    <th colspan="1">Last Name</th>
                    <th colspan="3">Rank</th>
                </tr>
            </thead>
            <tbody id="student-table">
                <tr>
                    <td colspan="5">Select an event to view students</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/student_view.js' %}"></script>
    <script>
    data = {{ data | safe }};
    state = {
        selected_event: null,
        show_students: [],
        selected_student: null
    };
    event_selector = document.getElementById('event-select');
    student_table = document.getElementById('student-table');
    window.onload = init_page();
    </script>
{% endblock %}