{% extends "base.html" %}
{% load staticfiles %}

{% block headers %}
    <title>Times</title>
    <script src="{% static 'js/min/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Times</h1>

    <div id="controls">
        <div>
            <p>Choose an event: </p>
            <select class="ui dropdown" id="event-select" onchange="change_event()"></select>
        </div>
    </div>

    <div class="table-container">
        <table id="times" class="ui selectable fixed celled table">
            <thead>
                <tr>
                    <th >Name</th>
                    <th >Time</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <tr>
                    <td colspan="2">Select event to view and change times</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="icons">
        <i class="large green checkmark box link icon"></i>
        <i class="large red remove circle link icon"></i>
        <i class="large minus square link icon" ></i>
    </div>

    <script>
        var ele = {
            event_sel: $('#event-select'),
            times_tab: $('#table-body'),
            icons: $('#icons'),
            name_input: null,
            time_input: null
        };
        var state = {
            selected_event: null,
            show_times: null,
            selected_time: null
        };
        var data = {{ data | safe }};

        function change_event() {
            state.selected_event = parseInt(ele.event_sel.val());
            refresh_times();
        }

        function refresh_times() {
            state.show_times = [];
            $.each(data.times, function(i, time) {
                if (time.event == state.selected_event) {
                    state.show_times.push(i);
                }
            });
            refresh_table();
        }

        function refresh_table() {
            ele.times_tab.empty();
            $.each(state.show_times, function(i, time_i) {
                var time = data.times[time_i];
                ele.times_tab.append(
                        $('<tr>')
                                .click(i, edit_row)
                                .append(
                                    $('<td>').text(time.name),
                                    $('<td>').text(time.display_start)
                                )
                );
            })
        }

        function edit_row(event) {
            if (state.selected_time == null) {
                var cells = ele.times_tab.children('tr').eq(event.data).children('td');
                state.selected_time = state.show_times[event.data];
                var time_data = data.times[state.selected_time];

                ele.name_input = $('<input>')
                                    .attr('name', 'name')
                                    .val(time_data.name);

                ele.time_input = $('<input>')
                                    .attr('name', 'time')
                                    .attr('type', 'time')
                                    .val(time_data.start);

                cells.empty();
                cells.eq(0)
                    .append($('<div>')
                            .addClass('ui input')
                            .append(ele.name_input));
                cells.eq(1)
                    .append($('<div>')
                        .addClass('ui input')
                        .append(ele.time_input));

                console.log(cells.eq(0).offset());
                var offset = cells.eq(0).offset();
                var height = cells.eq(0).height()/2;
                var width = ele.icons.width();
                ele.icons.css({
                    visibility: 'visible',
                    top: offset.top + height ,
                    left: offset.left - width
                })
            }
        }

        function unedit_row(reload) {
            state.selected_time = null;
            ele.icons.css("visibility", "hidden");
            if (reload) {
                refresh_times();
            } else {
                refresh_table();
            }
        }

        function delete_time() {
            if (state.selected_time != null) {
                var to_delete = data.times[state.selected_time].id;
                console.log(to_delete);
                $.post(
                        data.urls.delete,
                        {'id': to_delete},
                        function (result) {
                            if (result.result == 'success') {
                                data.times.splice(state.selected_time, 1);
                                unedit_row(true);
                            } else {
                                console.error(result.message);
                            }
                        }
                )
            }
        }

        function edit_time() {
            if (state.selected_time != null) {
                var to_edit = data.times[state.selected_time];
                $.post(
                        data.urls.edit,
                        {
                            'id': to_edit.id,
                            'name': ele.name_input.val(),
                            'start': ele.time_input.val()

                        },
                        function (result) {
                            if (result.result == 'success') {
                                data.times[state.selected_time] = result.time;
                                unedit_row(true);
                            } else {
                                console.error(result.message);
                            }
                        }
                )
            }
        }

        function init() {
            // First load events into the dropdown
            $.each(data.events, function(i, event) {
                ele.event_sel.append($('<option>', {
                    value: event.id,
                    text: event.name
                }))
            });
            ele.event_sel[0].selectedIndex = -1;
            ele.event_sel.dropdown();

            var icons = ele.icons.children();
            icons.eq(0).click(edit_time);
            icons.eq(1).click(delete_time);
            icons.eq(2).click(unedit_row);


        }

        $(document).ready(init);
    </script>

{% endblock %}