{% extends "base.html" %}
{% load staticfiles %}

{% block headers %}
    <title>Times</title>
    <script src="{% static 'js/min/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Times Assignments</h1>

    <div id="controls">
        <div class="ui two column relaxed grid">
            <div class="column">
                <p>Choose an event: </p>
                <select class="ui dropdown" id="event-select" onchange="change_event()"></select>
            </div>
            <div class="column">
                <p>Choose Judge: </p>
                <select class="ui dropdown" id="judge-select" onchange="change_judge()"></select>
            </div>
        </div>
        <div class="add-person">
            <p style="height: 1.5em; line-height: 1.5em; display: inline-block">
                Add Time
                <i class="add square green link big icon" onclick="show_add_modal()"></i>
            </p>
        </div>
    </div>

    <script>
        var data = {{ data | safe }};
        var ele = {
            event_sel: $('#event-select'),
            judge_sel: $('#judge-select')
        };
        var state = {
            selected_event: null,
            selected_judge: null
        };

        function change_event() {
            state.selected_event = parseInt(ele.event_sel.val());
            $.each(data.judges, function(i, judge) {
                if (judge.event === state.selected_event) {
                    console.log(judge);
                    ele.judge_sel
                            .append($("<option>")
                                    .attr('value', judge.id)
                                    .text(judge.first_name + ' ' + judge.last_name));
                }
            });
        }

        function init(){
            $.each(data.events, function(i, event) {
                ele.event_sel
                        .append($("<option>")
                                .attr('value', event.id)
                                .text(event.name)
                        )
            });

            ele.event_sel[0].selectedIndex = -1;

            ele.event_sel.dropdown();
            ele.judge_sel.dropdown();
        }

        $(document).ready(init);
    </script>

{% endblock %}