body {
    align-content: center;
    text-align: center;
    margin: auto;
}

#login {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.score-container {
    margin:5%;
}

.centered-form {
    width: 30%;
    min-width: 300px;
    margin: auto;
}

.person-table-container {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    min-width: 500px;
}